.step {
  flex-basis: 30%;
  border: 2px solid rgb(204, 200, 200);
  border-radius: 25px;
  padding-block: 40px;
  padding-inline: 20px;
}
.step h4 {
  font-weight: bold;
}
.step p {
  font-weight: 500;
}

.step_icon_contain {
  margin-bottom: 20px;
}
.step_icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 965px) {
  .step {
    flex-basis: 45%;
  }
}
@media (max-width: 648px) {
  .step {
    flex-basis: 95%;
  }
}
